@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./variables.scss";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
}

.container {
     width: 1312rem;
     margin: auto;
}

body, html {
    overflow-x: hidden;
    max-width: 100vw;
    font-size: calc(100vw / 1440);
}

.header {
    border-bottom: 1rem solid #d1d5db;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 9;
}
.container {
}
.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20rem 0;
}
.header-logo {
    width: 200rem;
    height: 48rem;
    position: relative;
}
.header-logo-img {
    width: 100%;
    height: 100%;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 20rem;
}
.heaer-nav-item {
    padding: 10rem;
    position: relative;
    cursor: pointer;
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: 0;
        height: 1rem;
        background: #6b7280;
        transition: all .4s ease;
    }
    &:hover {
        opacity: 1;
        &::after {
            width: 100%;
        }
    }
}
.header-nav-link {
    font-weight: 400;
    font-size: 16rem;
    line-height: 130%;
    color: #2e2e2e;
}
.header-drop {
    position: relative;
    &.active {
        .header-drop-btm {
            max-height: 50vh;
        }
    }
}
.header-drop-top {
    display: flex;
    align-items: center;
    gap: 12rem;
    padding: 13rem 0;
    cursor: pointer;
}
.header-drop-top-serc {
    border-radius: 8rem;
    width: 16rem;
    height: 16rem;
    background: linear-gradient(135deg, #f83758 0%, #d48895 44.76%, #d2ab67 100%);
}
.header-dpop-top-text {
    font-weight: 500;
    font-size: 16rem;
    line-height: 130%;
    text-align: center;
    color: #2e2e2e;
}
.headr-drop-top-arr {
    width: 14rem;
    height: 14rem;
}
.header-drop-btm {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: all .4s ease;
    z-index: 9;
}
.header-drop-menu {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    padding-top: 17rem;
}
.header-dpor-item {
    border: 1rem solid #d1d5db;
    border-radius: 24rem;
    padding: 4rem;
    width: 169rem;
    height: 40rem;
    background: $white;
    display: flex;
    gap: 8rem;
    align-items: center;
    cursor: pointer;
}
.header-drop-item-img {
    width: 32rem;
    height: 32rem;
}
.header-drop-item-text {
    font-weight: 400;
    font-size: 14rem;
    line-height: 130%;
    color: #2e2e2e;
}
.header-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25rem 0;
    width: 100%;
}
.header-btm-list {
    gap: 8rem;
    max-width: 853rem;
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 0; /* Ширина всего элемента навигации */
        height: 0;
    }
      
    &::-webkit-scrollbar-track {
        background: #fff; /* Цвет дорожки */
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #050c26; /* Цвет бегунка */
        border-radius: 20rem; /* Округление бегунка */
        border: 3rem solid #050c26; /* Оформление границ бегунка */
        opacity: 0;
    }
}
.header-btm-list-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
        .header-btm-item-btm {
            opacity: 1;
            visibility: visible;
        }
    }
}
.header-btm-item-front {
    border: 1rem solid #d1d5db;
    border-radius: 100rem;
    padding: 8rem 16rem;
    box-shadow: 0 1rem 2rem 0 rgba(31, 41, 55, 0.08);
    background: $white;
    display: flex;
    gap: 8rem;
}
.header-btm-item-front-text {
    font-weight: 400;
    font-size: 14rem;
    line-height: 130%;
    color: #6b7280;
    text-wrap: nowrap;
}
.header-btm-item-front-svg {
    width: 20rem;
    height: 20rem;
}
.header-btm-item-btm {
    position: absolute;
    left: 0;
    opacity: 0;
    margin-top: 12rem;
    border-radius: 24rem;
    padding: 40rem 64rem;
    width: 100vw;
    box-shadow: 0 3rem 10rem 0 rgba(0, 0, 0, 0.15);
    background: $white;
    transition: all .4s ease;
    visibility: hidden;
}

.header-btm-search {
    position: relative;
    height: fit-content;
    width: 411rem;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 16rem;
        background: #6b7280;
        width: 1rem;
        top: 50%;
        transform: translateY(-50%);
        left: -24rem;
    }
}
.header-btm-search-loop {
    width: 16rem;
    height: 16rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
    left: 16rem;
    & path {
        fill: #6B7280;
    }
}
.header-btm-search-inp {
    border: 1rem solid #d1d5db;
    border-radius: 100rem;
    padding: 12rem 4rem 12rem 42rem;
    background: #fbf9f9;
    font-weight: 400;
    font-size: 14rem;
    line-height: 130%;
    color: #6b7280;
    width: 100%;
}
.header-search-btn {
    border-radius: 125rem;
    width: 60rem;
    background: #eb4c60;
    position: absolute;
    top: 4rem;
    right: 4rem;
    border-radius: 125rem;
    padding: 10rem 20rem;
    background: #eb4c60;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 8rem);
}
.header-btm-search-btn-loop {
    width: 20rem;
    height: 20rem;
}
.header-menu-slider {
    max-width: 100%;
}
.header-menu-slider .swiper-slide {
    width: fit-content;
}

.heading-block {
    margin-top: 172rem;
    padding: 65rem 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
.heading-block-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 56rem;
    line-height: 116%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #2e2e2e;
    margin-bottom: 48rem;
    max-width: 847rem;
}
.heading-block-text {
    font-weight: 400;
    font-size: 24rem;
    line-height: 130%;
    text-align: center;
    color: #6b7280;
    margin-bottom: 48rem;
    max-width: 395rem;
}
.heading-block-buttons {
    display: flex;
    align-items: center;
    gap: 24rem;
    margin-bottom: 60rem;
}
.heading-block-buttons-quick {
}
.red-btn {
    border-radius: 100rem;
    padding: 21rem 58rem;
    background: #eb4c60;
    font-weight: 600;
    font-size: 16rem;
    line-height: 130%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
        opacity: 0;
        transition: all .4s ease;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 200rem;
        font-size: 16rem;
        line-height: 130%;
        color: $white;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }
}

.form-r-send {
    position: relative;
    &::after {
        content: 'Send the Form';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
        opacity: 0;
        transition: all .4s ease;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 12rem;
        font-size: 16rem;
        line-height: 130%;
        color: $white;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }

}
.form-r .form-r-send::after {
    content: 'Free Consultation';
}
.heading-block-buttons-services {
}
.arr-btn {
    display: flex;
    align-items: center;
    gap: 16rem;
    font-weight: 600;
    font-size: 16rem;
    line-height: 130%;
    color: #2e2e2e;
    &:hover {
        .arr-btn-svg {
            margin-left: 8rem;
        }
    }
}
.arr-btn-text {
    transition: all .4s ease;
}
.arr-btn-svg {
    width: 24rem;
    height: 24rem;
    transition: all .4s ease;
}
.header-block-pagination {
    border-radius: 50rem;
    overflow: hidden;
}
.swiper {
}
.header-block-slider {
    max-width: 100%;
}
.swiper-wrapper {
}
.swiper-slide {
}
.header-block-item {
    display: flex;
    border-radius: 24rem;
    align-items: center;
    background: #fbf9f9;
}
.header-block-item-img {
    border-radius: 24rem 0 0 24rem;
    width: 701rem;
    height: 236rem;
}
.header-block-item-info {
    padding: 0rem 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-block-item-heading {
    font-weight: 700;
    font-size: 24rem;
    line-height: 130%;
    color: #2e2e2e;
    margin-bottom: 16rem;
}
.heading-block-item-text {
    font-weight: 400;
    font-size: 16rem;
    line-height: 130%;
    color: #6b7280;
}
.header-block-pagination {
    display: flex;
    gap: 0;
    margin-bottom: 10rem;
}
.header-block-pagination {
    .swiper-pagination-bullet {
        width: 100%;
        margin: 0;
        padding: 0;
        opacity: 1;
        border-radius: 0;
        background: #f4eded;
    }
    .swiper-pagination-bullet-active {
        background: linear-gradient(144deg, #eb4c60 0%, #c5127e 100%);
        
    }
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.welcome {
    padding: 70rem 0;
}
.container {
}
.welcome-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30rem;
}
.welcome-heading-l {
}
.welcome-heading-r {
    max-width: 868rem;
}
.welcome-heading-l-top {
    font-weight: 600;
    font-size: 16rem;
    line-height: 130%;
    color: #6b7280;
}
.welcome-heading-l-btm {
    font-weight: 600;
    font-size: 48rem;
    line-height: 100%;
    letter-spacing: -0.06em;
    background: linear-gradient(144deg, #eb4c60 0%, #c5127e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welcome-heading-r-top {
    font-weight: 400;
    font-size: 24rem;
    line-height: 130%;
    color: #6b7280;
    margin-bottom: 16rem;
}
.heading-block-buttons-services {
}
.arr-btn {
}
.arr-btn-svg {
}
.welcome-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20rem;
}
.welcome-item {
    box-shadow: 0 5rem 7rem 0 rgba(0, 0, 0, 0.05);
    background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
    border-radius: 16rem;
    padding: 20rem 26rem;
    height: 160rem;
}
.welcome-item-heading {
    display: flex;
    align-items: center;
    gap: 16rem;
    margin-bottom: 12rem;
}
.welcome-item-heading-icon {
    border-radius: 6rem;
    width: 44rem;
    height: 44rem;
    background: #ffebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-item-heading-icon-img {
    width: 24rem;
    height: 24rem;
}
.welcome-item-heading-text {
    font-weight: 700;
    font-size: 24rem;
    line-height: 130%;
    color: $white;
}
.welcome-item-text {
    font-weight: 400;
    font-size: 16rem;
    line-height: 130%;
    color: $white;
}
.trending-wrapper {
    max-width: 100%;
    position: relative;
}
.swiper {
}
.trending-slider {
    max-width: 100%;
    overflow: visible;
    .swiper-slide {
        border-radius: 16rem;
        overflow: hidden;
        transition: all .4s ease;
        &:hover {
            box-shadow: 1rem 3rem 13rem 0 rgba(0, 0, 0, 0.1);
            background: $white;
        }
    }
}
.swiper-wrapper {
}
.trending-item-img {
    width: 100%;
}
.tranding-info {
    padding: 16rem;
}
.tranding-info-heading {
    font-weight: 700;
    font-size: 16rem;
    line-height: 130%;
    color: #2e2e2e;
    margin-bottom: 16rem;
}
.tranding-info-text {
    font-weight: 400;
    font-size: 14rem;
    line-height: 130%;
    color: #6b7280;
}

.trending-arrows {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.trending-arrow {
    border: 1rem solid #d1d5db;
    border-radius: 999rem;
    padding: 10rem;
    width: 40rem;
    height: 40rem;
    box-shadow: 0 3rem 12rem 0 rgba(0, 0, 0, 0.06);
    background: #fbf9f9;
    transition: all .4s ease;
    &.swiper-button-disabled {
        opacity: 0;
    }

}
.trending-arrow-prev, .spec-arrow-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    .trending-arrow-svg {
        transform: rotate(180deg);
    }
}
.trending-arrow-svg {
    width: 20rem;
    height: 20rem;
}
.trending-arrow-next, .spec-arrow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.trending {
    padding-top: 70rem;
    & .container {
        overflow: hidden;
        padding-bottom: 90rem;
    }
}
.trending-heading {
    margin-bottom: 44rem;
}

.section-heading {
    font-weight: 600;
    font-size: 30rem;
    line-height: 147%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #2e2e2e;
    width: 100%;
}

.exp-category-item {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    position: relative;
    opacity: .4;
    transition: all .4s ease;
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 2rem;
        background: #2e2e2e;
        transition: all .4s ease;
    }
    &.active {
        opacity: 1;
        &::after {
            width: 100%;
        }
    }
}
.exp-arrow-prev {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    .trending-arrow-svg {
        transform: rotate(180deg);
    }
}

.exp-slider {
    max-width: 1232rem;
}

.exp-category {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40rem;
    margin-bottom: 40rem;
}

.exp-items {
    margin-bottom: 40rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24rem;
    @media(max-width: $mediaMiddle) {
        grid-template-columns: repeat(2, 1fr);
        gap: 16rem;
    }
    @media(max-width: $mediaMobile) {
        grid-template-columns: 1fr;
    }
}
.exp-item {
    border: 1rem solid #dedede;
    border-radius: 24rem;
    padding: 16rem;
    background: $white;
}
.exp-item-top {
    border-radius: 12rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.exp-item-new {
    border-radius: 4rem;
    padding: 0rem 13rem;
    box-shadow: 0 3rem 5rem 0 rgba(0, 0, 0, 0.1);
    background: #eb4c60;
    font-weight: 600;
    font-size: 19rem;
    line-height: 171%;
    letter-spacing: 0.01em;
    text-align: center;
    color: $white;
    position: absolute;
    top: 15rem;
    left: 15rem;
}
.exp-item-img {
    width: 100%;
}
.exp-item-info {
    margin-top: 24rem;
}
.exp-item-info-heading {
    font-weight: 700;
    font-size: 24rem;
    line-height: 130%;
    color: #2e2e2e;
    margin-bottom: 8rem;
}
.exp-item-info-text {
    font-weight: 400;
    font-size: 16rem;
    line-height: 130%;
    color: #6b7280;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.exp-item-buttons {
    display: flex;
    gap: 24rem;
    margin-top: 24rem;
}
.exp-item-button-popup {
    border-radius: 8rem;
    padding: 14rem 0rem;
    width: 168rem;
    background: #eb4c60;
    font-weight: 600;
    font-size: 16rem;
    line-height: 130%;
    color: $white;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
        content: 'Sent request';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
        opacity: 0;
        transition: all .4s ease;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 8rem;
        font-size: 16rem;
        line-height: 130%;
        color: $white;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }

}
.exp-item-button-more {
    opacity: .6;
}
.arr-btn {
}
.arr-btn-svg {
}

.explore {
    padding-bottom: 72rem;
    padding-top: 70rem;
}

.exp-heaing {
    margin-bottom: 50rem;
}

.form {
    .container {
        background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
        border-radius: 24rem;
        padding: 70rem 60rem;
        display: flex;
        position: relative;
        overflow: hidden;
        justify-content: space-between;
    }
}
.form-l {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 53rem;
    max-width: 768rem;
}
.form-l-heading {
    font-weight: 600;
    font-size: 38rem;
    line-height: 121%;
    color: $white;
}
.form-arr-btn {
    color: white;
        & path {
            stroke: white;
        }
}
.arr-btn {
}
.form-r {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 20rem;
}
.form-r-inp {
    border: 1rem solid #fbf9f9;
    border-radius: 12rem;
    padding: 16rem;
    width: 374rem;
    height: 50rem;
    font-weight: 400;
    font-size: 14rem;
    line-height: 130%;
    color: white;
    background: none;
    &::placeholder {
        color: #d1d5db;
    }
}
.form-r-button {
    display: flex;
    gap: 8rem;

}
.form-r-send {
    border-radius: 12rem;
    width: 252rem;
    height: 53rem;
    font-weight: 700;
    font-size: 16rem;
    line-height: 130%;
    text-align: center;
    color: #eb4c60;
    display: flex;
    background: $white;
    align-items: center;
    justify-content: center;
}
.whatsapp-form {
    background: #c5ecd7;
}
.form-sety {
    border-radius: 12rem;
    width: 53rem;
    height: 53rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-sety-svg {
    width: 26rem;
    height: 26rem;
}
.tg-form {
    background: #c6e3f7;
}
.form-bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 2;
}

.special {
    padding: 70rem 0 85rem;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
.spec-r {
    max-width: 563rem;
}
.sper-r-heading {
    font-weight: 600;
    font-size: 120rem;
    line-height: 83%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #e0e1e4;
    font-family: "Poppins", sans-serif;
    margin-bottom: 64rem;
}
.spec-r-slider {
    width: 100%;
    & .swiper-slide {
        font-weight: 600;
        font-size: 56rem;
        line-height: 130%;
        letter-spacing: -0.05em;
        background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Poppins", sans-serif;
        display: flex;
        justify-content: center;

    }
}
.swiper-wrapper {
}
.spec-r-slider-wrapper {
    position: relative;
}
.trending-arrows {
}
.trending-arrow {
}
.spec-arrow-prev {
    &.swiper-button-disabled {
        opacity: 1;
    }
}
.trending-arrow-svg {
}
.spec-arrow-next {
    &.swiper-button-disabled {
        opacity: 1;
    }
}
.spec-l {
    max-width: 573rem;
}
.spec-l-heading {
    font-weight: 600;
    font-size: 30rem;
    line-height: 147%;
    letter-spacing: -0.05em;
    color: #2e2e2e;
    &::after {
        border-radius: 16rem;
        width: 100rem;
        height: 2rem;
        background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
        content: '';
        display: block;
        margin-bottom: 32rem;
        margin-top: 32rem;
    }
}
.spec-l-text {
    font-weight: 400;
    font-size: 24rem;
    line-height: 130%;
    color: #6b7280;
    margin-bottom: 48rem;
}

.contacts {
    display: flex;
}
.contacts-bg {
    width: 50%;
}
.contacts-container {
    width: 50%;
    padding: 70rem 64rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts-heading {
    font-weight: 600;
    font-size: 30rem;
    line-height: 147%;
    letter-spacing: -0.05em;
    color: #2e2e2e;
    margin-bottom: 16rem;
    width: 100%;
    max-width: 577rem;
}
.contacts-text {
    font-weight: 400;
    font-size: 24rem;
    line-height: 130%;
    color: #6b7280;
    margin-bottom: 48rem;
    width: 100%;
    max-width: 577rem;
}
.contacts-inp-flex {
    display: flex;
    gap: 40rem;
    width: 100%;
    max-width: 577rem;
}
.contact-imput-block {
    max-width: 577rem;
    width: 100%;
    margin-bottom: 16rem;
}
.contact-input-heading {
    font-weight: 600;
    font-size: 16rem;
    line-height: 130%;
    color: #6b7280;
    margin-bottom: 12rem;
}
.contacts-inp {
    border-radius: 8rem;
    border: 1rem solid #d1d5db;
    padding: 10rem;
    height: 50rem;
    width: 100%;
}
.form-r-button {
}
.contact-buttons {
    max-width: 577rem;
    width: 100%;
    .form-r-send {
        background: #eb4c60;
        color: white;
    }
}

.footer {
    padding-top: 140rem;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
.footer-logo {
    width: 157rem;
    height: 157rem;
}
.footer-top-info {
    display: flex;
    gap: 37rem;

}
.footer-item {
    width: 280rem;

}
.footer-item-heading {
    font-weight: 600;
    font-size: 14rem;
    line-height: 130%;
    color: #6b7280;
    margin-bottom: 18rem;
}
.footer-item-list {
    display: flex;
    flex-direction: column;
    gap: 18rem;
}
.footer-item-nav-item {
    font-weight: 400;
    font-size: 16rem;
    line-height: 130%;
    color: #2e2e2e;
}
.footer-btm {
    align-items: center;
    position: relative;
    border-top: 1rem solid #d1d5db;
    padding: 20rem 0rem;
    margin-top: 60rem;
}
.footer-btm-info {
    display: flex;
    align-items: center;
    gap: 24rem;
}
.footer-copyr {
}
.footer-btm-text {
    font-weight: 400;
    font-size: 14rem;
    line-height: 130%;
    color: #6b7280;
}
.footer-policy {
}
.footer-terms {
}
.footer-sety {
    display: flex;
    align-items: center;
    gap: 16rem;
}
.footer-sety-item {
    width: 20rem;
    height: 20rem;position: relative;
}
.footer-sety-item-svg {
    width: 100%;
    height: 100%;
}

.footer-btm-arrow-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
    border-radius: 100rem;
    padding: 10rem;
    width: 65rem;
    height: 65rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-btm-arrow-top-svg {
    width: 45rem;
    height: 45rem;

}

.mob {
    display: none;
}

.exp-category-item-img {
    width: 24rem;
    height: 24rem;
}
.exp-category-item-text {
    font-weight: 500;
    font-size: 12rem;
}

@media(max-width: $mediaMiddle) {
    body, html {
        font-size: calc(100vw / 375);
    }
    .mob {
        display: block;
    }
    .container {
        width: calc(100vw - 32rem);
        margin: auto;
    }
    .header-nav {
        display: none;
    }
    .header-drop {
        display: none;
    }
    .header-top-mob-menu {
        width: 23rem;
        height: 33rem;
    }
    .header-logo {
        width: 100rem;
        height: 24rem;
    }
    .header {
        border: none;
    }
    .header-btm {
        flex-direction: column;
        padding: 0rem;
        flex-flow: column-reverse;
    }
    .header-btm-search {
        width: 100%;
    }
    .header-btm-list {
        max-width: 100%;
        margin-top: 8rem;
    }
    .heading-block {
        margin-top: 195rem;
        padding-top: 40rem;
        padding-bottom: 50rem;
    }
    .heading-block-heading {
        font-size: 22rem;
        line-height: 136%;
        letter-spacing: -0.07em;
        margin-bottom: 24rem;
        max-width: 321rem;

    }
    .heading-block-text {
        font-size: 14rem;
        line-height: 130%;
        max-width: 229rem;
    }
    .heading-block-buttons {
        gap: 12rem;
        margin-bottom: 40rem;
    }
    .red-btn {
        padding: 11rem 35rem;
        font-size: 14rem;
        line-height: 130%;
    }
    .arr-btn {
        font-size: 14rem;
        line-height: 130%;
    }
    .header-block-pagination {
        margin-bottom: 4rem;
        & .swiper-pagination-bullet {
            height: 6rem;
        }
    }
    .header-block-item {
        flex-direction: column;
    }
    .header-block-item-img {
        width: 100%;
        height: 164rem;
        object-fit: cover;
        border-radius: 16rem 16rem 0 0;
    }
    .header-block-item-info {
        padding: 20rem 12rem;
        padding-bottom: 30rem;
    }
    .header-block-item-heading {
        font-size: 16rem;
        line-height: 130%;
        margin-bottom: 8rem;
    }
    .heading-block-item-text {
        font-size: 14rem;
        line-height: 130%;
    }
    .header-top {
        padding: 15rem 0;
    }
    .welcome-heading {
        flex-direction: column;
    }
    .welcome-heading-l-top {
        font-size: 14rem;
        line-height: 130%;

    }
    .welcome-heading-l {
        margin-bottom: 20rem;
    }
    .welcome-heading-r-top {
        font-size: 16rem;
        line-height: 130%;
        margin-bottom: 10rem;
    }
    .welcome-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
    }
    .welcome {
        padding: 30rem 0;
    }
    .welcome-item {
        height: 180rem;
    }
    .welcome-item-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 6rem;
    }
    .welcome-item-heading-icon {
        width: 24rem;
        height: 24rem;

    }
    .welcome-item-heading-text {
        font-size: 16rem;
        line-height: 130%;
        margin-bottom: 6rem;

    }
    .welcome-item-heading-icon-img {
        width: 14rem;
        height: 14rem;
    }
    .welcome-item-text {
        font-size: 13rem;
        line-height: 130%;

    }
    .welcome-item {
        padding: 16rem 12rem;
    }
    .trending {
        padding-top: 22rem;
    }
    .trending-arrows {
        display: none;
    }
    .tranding-info {
        padding: 16rem 12rem;
    }
    .tranding-info-heading {
        font-size: 14rem;
        line-height: 130%;
        margin-bottom: 12rem;
    }
    .tranding-info-text {
        font-size: 12rem;
        line-height: 130%;
    }
    .trending .container {
        padding-bottom: 30rem;
    }
    .explore {
        padding: 22rem 0;
    }
    .section-heading {
        font-size: 22rem;
        line-height: 136%;
        margin-bottom: 20rem;
    }
    .exp-heaing {
        margin-bottom: 20rem;
    }
    .trending-arrow {
        display: none;
    }
    .exp-items {
    }
    .exp-category-item-img {
        width: 24rem;
        height: 24rem;
    }
    .exp-category-item-text {
        font-size: 12rem;
    }
    .exp-item-info-heading {
        font-size: 16rem;
        line-height: 130%;
        margin-bottom: 8rem;
    }
    .exp-item-info-text {
        font-size: 14rem;
        line-height: 130%;
    }
    .exp-wrapper-more {
        display: flex;
        justify-content: center;
    }
    .form .container {
        padding: 16rem;
        flex-direction: column;
    }
    .form-l-heading {
        font-size: 22rem;
        line-height: 136%;
        letter-spacing: -0.07em;
    }
    .form-l {
        gap: 20rem;
        margin-bottom: 46rem;
    }
    .form-r {
        gap: 8rem;
    }
    .form-r-inp {
        max-width: 100%;
        padding: 11rem 16rem;
        height: fit-content;
    }
    .form-r-button {
        margin-top: 8rem;
        gap: 8rem;
    }
    .form-r-send {
        padding: 11rem 45rem;
        height: fit-content;
        width: fit-content;
        font-size: 14rem;
        line-height: 130%;
    }
    .form-sety {
        width: 40rem;
        height: 40rem;
    }
    .form-sety-svg {
        width: 20rem;
        height: 20rem;
    }
    .special {
        padding: 40rem 0 30rem;   
    }
    .sper-r-heading {
        font-size: 60rem;
        line-height: 100%;
        letter-spacing: -0.03em;
        margin-bottom: 32rem;
    }
    .special .container {
        flex-direction: column;
    }
    .spec-r-slider-wrapper {
        .trending-arrows {
            display: block;
            position: absolute;
        }
        .trending-arrow {
            display: flex;
            padding: 6rem;
            width: 24rem;
            height: 24rem;
        }
    }
    .spec-r-slider .swiper-slide {
        font-size: 32rem;
        line-height: 137%;
        letter-spacing: -0.04em;
    }
    .trending-arrow-svg {
     width: 12rem;
     height: 12rem;   
    }
    .spec-r {
        margin-bottom: 20rem;
    }
    .spec-l-heading {
        font-size: 22rem;
        line-height: 136%;
        letter-spacing: -0.07em;
        &::after {
            margin: 12rem 0;
            width: 100rem;
            height: 2rem;
        }
    }
    .spec-l-text {
        font-size: 14rem;
        line-height: 130%;
        margin-bottom: 16rem;
    }
    .contacts-bg {
        display: none;
    }

    .contacts-bg-mob {

    }
    .contacts-container {
        width: calc(100vw - 32rem);
        border: 1rem solid #d1d5db;
        border-radius: 23rem;
        padding: 16rem;
        margin: auto;
    }
    .contacts-bg-mob {
        width: 100%;
        height: 181rem;
        object-fit: cover;
        border-radius: 12rem;
        margin-bottom: 16rem;
    }
    .contacts-heading {
        display: none;
    }
    .contacts-text {
        display: none;
    }
    .contacts-inp-flex {
        flex-direction: column;
        gap: 0;
    }
    .form-r-button {
        &.contact-buttons {
            display: none;
            &.mob {
                display: flex;
            }
        }
    }
    .contacts {
        flex-direction: column;
    }
    .contact-buttons .form-r-send {
        width: 100%;
    }
    .form-sety {
        flex-shrink: 0;
    }
    .footer .container {
        flex-direction: column;
    }
    .footer-sety {
        &.desk {
            display: none;
        }
        &.mob {
            display: flex;
        }
    }
    .footer-logo {
        width: 100rem;
        height: 24rem;
        margin: 0;
    }
    .footer-logo-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30rem;
    }
    .footer-item-heading {
        font-size: 14rem;
        line-height: 130%;
        margin-bottom: 12rem;
    }
    .footer-item-nav-item {
        font-size: 14rem;
        line-height: 130%;

    }
    .footer-item-list {
        gap: 4rem;
        .arr-btn-svg {
            display: none;
        }
    }
    .footer-top-info {
        gap: 20rem;
    }
    .footer-item {
        width: fit-content;
    }
    .footer-top-info {
        margin-bottom: 38rem;
    }
    .footer .container.footer-btm {
        flex-direction: column;
        align-items: center;
        padding-top: 40rem;
    }
    .footer-btm-info {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    .footer-btm-text {
        font-size: 14rem;
        line-height: 130%;
    }
    .footer-btm-arrow-top {
        width: 32rem;
        padding: 0;
        height: 32rem;
    }
    .footer-btm-arrow-top-svg {
        width: 22rem;
        height: 22rem;
    }
    .footer .container:first-child {
        border-top: 1rem solid #d9d9d9;
        padding-top: 42rem;
    }
    .footer {
        padding-top: 37rem;
    }
    .contact-buttons {
        max-width: 100%;
    }
    .spec-r {
        max-width: 100%;
    }
    .spec-l {
        max-width: 100%;
    }
    .form .container {
        padding-bottom: 35rem;
    }
    .header-btm-list {
        max-width: calc(100% + 16rem);
        margin-left: 16rem;
    }
    .trending-item-img {
        max-height: 250rem;
        object-fit: cover;
    }
}