@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$white: #FFF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
}

.container {
     width: 1312px;
     margin: auto;
}

body, html {
    overflow-x: hidden;
}

.header {
    border-bottom: 1px solid #d1d5db;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 9;
}
.container {
}
.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}
.header-logo {
    width: 200px;
    height: 48px;
    position: relative;
}
.header-logo-img {
    width: 100%;
    height: 100%;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.heaer-nav-item {
    padding: 10px;
}
.header-nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2e2e2e;
}
.header-drop {
    position: relative;
    &.active {
        .header-drop-btm {
            max-height: 50vh;
        }
    }
}
.header-drop-top {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 13px 0;
    cursor: pointer;
}
.header-drop-top-serc {
    border-radius: 8px;
    width: 16px;
    height: 16px;
    background: linear-gradient(135deg, #f83758 0%, #d48895 44.76%, #d2ab67 100%);
}
.header-dpop-top-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #2e2e2e;
}
.headr-drop-top-arr {
    width: 14px;
    height: 14px;
}
.header-drop-btm {
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: all .4s ease;
    z-index: 9;
}
.header-drop-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 17px;
}
.header-dpor-item {
    border: 1px solid #d1d5db;
    border-radius: 24px;
    padding: 4px;
    width: 169px;
    height: 40px;
    background: $white;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}
.header-drop-item-img {
    width: 32px;
    height: 32px;
}
.header-drop-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #2e2e2e;
}
.header-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    width: 100%;
}
.header-btm-list {
    gap: 8px;
    max-width: 853px;
    display: flex;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 0; /* Ширина всего элемента навигации */
        height: 0;
    }
      
    &::-webkit-scrollbar-track {
        background: #fff; /* Цвет дорожки */
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #050c26; /* Цвет бегунка */
        border-radius: 20px; /* Округление бегунка */
        border: 3px solid #050c26; /* Оформление границ бегунка */
        opacity: 0;
    }
}
.header-btm-list-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
        .header-btm-item-btm {
            opacity: 1;
            visibility: visible;
        }
    }
}
.header-btm-item-front {
    border: 1px solid #d1d5db;
    border-radius: 100px;
    padding: 8px 16px;
    box-shadow: 0 1px 2px 0 rgba(31, 41, 55, 0.08);
    background: $white;
    display: flex;
    gap: 8px;
}
.header-btm-item-front-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #6b7280;
    text-wrap: nowrap;
}
.header-btm-item-front-svg {
    width: 20px;
    height: 20px;
}
.header-btm-item-btm {
    position: absolute;
    left: 0;
    opacity: 0;
    margin-top: 12px;
    border-radius: 24px;
    padding: 40px 64px;
    width: 100vw;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
    background: $white;
    transition: all .4s ease;
    visibility: hidden;
}

.header-btm-search {
    position: relative;
    height: fit-content;
    width: 411px;
}
.header-btm-search-loop {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
    left: 16px;
    & path {
        fill: #6B7280;
    }
}
.header-btm-search-inp {
    border: 1px solid #d1d5db;
    border-radius: 100px;
    padding: 12px 4px 12px 42px;
    background: #fbf9f9;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #6b7280;
    width: 100%;
}
.header-search-btn {
    border-radius: 125px;
    width: 60px;
    background: #eb4c60;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 125px;
    padding: 10px 20px;
    background: #eb4c60;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 8px);
}
.header-btm-search-btn-loop {
    width: 20px;
    height: 20px;
}
.header-menu-slider {
    max-width: 100%;
}
.header-menu-slider .swiper-slide {
    width: fit-content;
}

.heading-block {
    margin-top: 172px;
    padding: 65px 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
.heading-block-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 56px;
    line-height: 116%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #2e2e2e;
    margin-bottom: 48px;
}
.heading-block-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #6b7280;
    margin-bottom: 48px;
}
.heading-block-buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 60px;
}
.heading-block-buttons-quick {
}
.red-btn {
    border-radius: 100px;
    padding: 21px 58px;
    background: #eb4c60;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading-block-buttons-services {
}
.arr-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #2e2e2e;
}
.arr-btn-svg {
    width: 24px;
    height: 24px;
}
.header-block-pagination {
}
.swiper {
}
.header-block-slider {
    max-width: 100%;
}
.swiper-wrapper {
}
.swiper-slide {
}
.header-block-item {
    display: flex;
    border-radius: 24px;
    align-items: center;
    background: #fbf9f9;
}
.header-block-item-img {
    border-radius: 24px 0 0 24px;
    width: 701px;
    height: 236px;
}
.header-block-item-info {
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-block-item-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #2e2e2e;
    margin-bottom: 16px;
}
.heading-block-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #6b7280;
}
.header-block-pagination {
    display: flex;
    gap: 0;
    margin-bottom: 10px;
}
.header-block-pagination {
    .swiper-pagination-bullet {
        width: 100%;
        margin: 0;
        padding: 0;
        opacity: 1;
        border-radius: 0;
        background: #f4eded;
    }
    .swiper-pagination-bullet-active {
        background: linear-gradient(144deg, #eb4c60 0%, #c5127e 100%);
        
    }
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.welcome {
    padding: 70px 0;
}
.container {
}
.welcome-heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}
.welcome-heading-l {
}
.welcome-heading-r {
    max-width: 868px;
}
.welcome-heading-l-top {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #6b7280;
}
.welcome-heading-l-btm {
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.06em;
    background: linear-gradient(144deg, #eb4c60 0%, #c5127e 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.welcome-heading-r-top {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #6b7280;
    margin-bottom: 16px;
}
.heading-block-buttons-services {
}
.arr-btn {
}
.arr-btn-svg {
}
.welcome-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.welcome-item {
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.05);
    background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
    border-radius: 16px;
    padding: 20px 26px;
}
.welcome-item-heading {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
}
.welcome-item-heading-icon {
    border-radius: 6px;
    width: 44px;
    height: 44px;
    background: #ffebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome-item-heading-icon-img {
    width: 24px;
    height: 24px;
}
.welcome-item-heading-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: $white;
}
.welcome-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $white;
}
.trending-wrapper {
    max-width: 100%;
    position: relative;
}
.swiper {
}
.trending-slider {
    max-width: 100%;
    overflow: visible;
    .swiper-slide {
        border-radius: 16px;
        overflow: hidden;
        transition: all .4s ease;
        &:hover {
            box-shadow: 1px 3px 13px 0 rgba(0, 0, 0, 0.1);
            background: $white;
        }
    }
}
.swiper-wrapper {
}
.trending-item-img {
    width: 100%;
}
.tranding-info {
    padding: 16px;
}
.tranding-info-heading {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #2e2e2e;
    margin-bottom: 16px;
}
.tranding-info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #6b7280;
}

.trending-arrows {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.trending-arrow {
    border: 1px solid #d1d5db;
    border-radius: 999px;
    padding: 10px;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.06);
    background: #fbf9f9;
    transition: all .4s ease;
    &.swiper-button-disabled {
        opacity: 0;
    }

}
.trending-arrow-prev, .spec-arrow-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    .trending-arrow-svg {
        transform: rotate(180deg);
    }
}
.trending-arrow-svg {
    width: 20px;
    height: 20px;
}
.trending-arrow-next, .spec-arrow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.trending {
    padding-top: 70px;
    & .container {
        overflow: hidden;
        padding-bottom: 90px;
    }
}
.trending-heading {
    margin-bottom: 44px;
}

.section-heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 147%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #2e2e2e;
    width: 100%;
}

.exp-category-item {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    position: relative;
    opacity: .4;
    transition: all .4s ease;
    &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #2e2e2e;
        transition: all .4s ease;
    }
    &.active {
        opacity: 1;
        &::after {
            width: 100%;
        }
    }
}

.exp-slider {
    max-width: 1232px;
}

.exp-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.exp-items {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.exp-item {
    border: 1px solid #dedede;
    border-radius: 24px;
    padding: 16px;
    background: $white;
}
.exp-item-top {
    border-radius: 12px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.exp-item-new {
    border-radius: 4px;
    padding: 0px 13px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    background: #eb4c60;
    font-weight: 600;
    font-size: 19px;
    line-height: 171%;
    letter-spacing: 0.01em;
    text-align: center;
    color: $white;
    position: absolute;
    top: 15px;
    left: 15px;
}
.exp-item-img {
    width: 100%;
}
.exp-item-info {
    margin-top: 24px;
}
.exp-item-info-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #2e2e2e;
    margin-bottom: 8px;
}
.exp-item-info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #6b7280;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.exp-item-buttons {
    display: flex;
    gap: 24px;
    margin-top: 24px;
}
.exp-item-button-popup {
    border-radius: 8px;
    padding: 14px 0px;
    width: 168px;
    background: #eb4c60;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: $white;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after {
        content: 'Sent request';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
        opacity: 0;
        transition: all .4s ease;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 8px;
        font-size: 16px;
        line-height: 130%;
        color: $white;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }

}
.exp-item-button-more {
    opacity: .6;
}
.arr-btn {
}
.arr-btn-svg {
}

.explore {
    padding-bottom: 72px;
    padding-top: 70px;
}

.exp-heaing {
    margin-bottom: 50px;
}

.form {
    .container {
        background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
        border-radius: 24px;
        padding: 70px 60px;
        display: flex;
        position: relative;
        overflow: hidden;
        justify-content: space-between;
    }
}
.form-l {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 53px;
    max-width: 768px;
}
.form-l-heading {
    font-weight: 600;
    font-size: 38px;
    line-height: 121%;
    color: $white;
}
.form-arr-btn {
    color: white;
        & path {
            stroke: white;
        }
}
.arr-btn {
}
.form-r {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-r-inp {
    border: 1px solid #fbf9f9;
    border-radius: 12px;
    padding: 16px;
    width: 374px;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: white;
    background: none;
    &::placeholder {
        color: #d1d5db;
    }
}
.form-r-button {
    display: flex;
    gap: 8px;

}
.form-r-send {
    border-radius: 12px;
    width: 252px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #eb4c60;
    display: flex;
    background: $white;
    align-items: center;
    justify-content: center;
}
.whatsapp-form {
    background: #c5ecd7;
}
.form-sety {
    border-radius: 12px;
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-sety-svg {
    width: 26px;
    height: 26px;
}
.tg-form {
    background: #c6e3f7;
}
.form-bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 2;
}

.special {
    padding: 70px 0 85px;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
.spec-r {
    max-width: 563px;
}
.sper-r-heading {
    font-weight: 600;
    font-size: 120px;
    line-height: 83%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #e0e1e4;
    font-family: "Poppins", sans-serif;
    margin-bottom: 64px;
}
.spec-r-slider {
    width: 100%;
    & .swiper-slide {
        font-weight: 600;
        font-size: 56px;
        line-height: 116%;
        letter-spacing: -0.05em;
        background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Poppins", sans-serif;
        display: flex;
        justify-content: center;

    }
}
.swiper-wrapper {
}
.spec-r-slider-wrapper {
    position: relative;
}
.trending-arrows {
}
.trending-arrow {
}
.spec-arrow-prev {
    &.swiper-button-disabled {
        opacity: 1;
    }
}
.trending-arrow-svg {
}
.spec-arrow-next {
    &.swiper-button-disabled {
        opacity: 1;
    }
}
.spec-l {
    max-width: 573px;
}
.spec-l-heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 147%;
    letter-spacing: -0.05em;
    color: #2e2e2e;
    &::after {
        border-radius: 16px;
        width: 100px;
        height: 2px;
        background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
        content: '';
        display: block;
        margin-bottom: 32px;
        margin-top: 32px;
    }
}
.spec-l-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #6b7280;
    margin-bottom: 48px;
}

.contacts {
    display: flex;
}
.contacts-bg {
    width: 50%;
}
.contacts-container {
    width: 50%;
    padding: 70px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacts-heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 147%;
    letter-spacing: -0.05em;
    color: #2e2e2e;
    margin-bottom: 16px;
    width: 100%;
    max-width: 577px;
}
.contacts-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #6b7280;
    margin-bottom: 48px;
    width: 100%;
    max-width: 577px;
}
.contacts-inp-flex {
    display: flex;
    gap: 40px;
    width: 100%;
    max-width: 577px;
}
.contact-imput-block {
    max-width: 577px;
    width: 100%;
    margin-bottom: 16px;
}
.contact-input-heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #6b7280;
    margin-bottom: 12px;
}
.contacts-inp {
    border-radius: 8px;
    border: 1px solid #d1d5db;
    padding: 10px;
    height: 50px;
    width: 100%;
}
.form-r-button {
}
.contact-buttons {
    max-width: 577px;
    width: 100%;
    .form-r-send {
        background: #eb4c60;
        color: white;
    }
}

.footer {
    padding-top: 140px;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
.footer-logo {
    width: 157px;
    height: 157px;
    margin-right: 240px;
}
.footer-top-info {
    display: flex;
    gap: 37px;

}
.footer-item {
    width: 280px;

}
.footer-item-heading {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #6b7280;
    margin-bottom: 18px;
}
.footer-item-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.footer-item-nav-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2e2e2e;
}
.footer-btm {
    align-items: center;
    position: relative;
    border-top: 1px solid #d1d5db;
    padding: 20px 0px;
    margin-top: 60px;
}
.footer-btm-info {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-copyr {
}
.footer-btm-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #6b7280;
}
.footer-policy {
}
.footer-terms {
}
.footer-sety {
    display: flex;
    align-items: center;
    gap: 16px;
}
.footer-sety-item {
    width: 20px;
    height: 20px;position: relative;
}
.footer-sety-item-svg {
    width: 100%;
    height: 100%;
}

.footer-btm-arrow-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(144deg, #c5127e 0%, #eb4c60 100%);
    border-radius: 100px;
    padding: 10px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-btm-arrow-top-svg {
    width: 45px;
    height: 45px;

}

.mob {
    display: none;
}

@media(max-width: 1279px) {
    .mob {
        display: block;
    }
    .container {
        width: calc(100vw - 32px);
        margin: auto;
    }
    .header-nav {
        display: none;
    }
    .header-drop {
        display: none;
    }
    .header-top-mob-menu {
        width: 23px;
        height: 33px;
    }
    .header-logo {
        width: 100px;
        height: 24px;
    }
    .header {
        border: none;
    }
    .header-btm {
        flex-direction: column;
        padding: 0px;
        flex-flow: column-reverse;
    }
    .header-btm-search {
        width: 100%;
    }
    .header-btm-list {
        max-width: 100%;
        margin-top: 8px;
    }
    .heading-block {
        margin-top: 195px;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .heading-block-heading {
        font-size: 22px;
        line-height: 136%;
        letter-spacing: -0.07em;
        margin-bottom: 24px;
        max-width: 321px;

    }
    .heading-block-text {
        font-size: 14px;
        line-height: 130%;
        max-width: 229px;
    }
    .heading-block-buttons {
        gap: 12px;
        margin-bottom: 40px;
    }
    .red-btn {
        padding: 11px 35px;
        font-size: 14px;
        line-height: 130%;
    }
    .arr-btn {
        font-size: 14px;
        line-height: 130%;
    }
    .header-block-pagination {
        margin-bottom: 4px;
    }
    .header-block-item {
        flex-direction: column;
    }
    .header-block-item-img {
        width: 100%;
        height: 164px;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
    }
    .header-block-item-info {
        padding: 20px 12px;
    }
    .header-block-item-heading {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 8px;
    }
    .heading-block-item-text {
        font-size: 14px;
        line-height: 130%;
    }
    .header-top {
        padding: 15px 0;
    }
    .welcome-heading {
        flex-direction: column;
    }
    .welcome-heading-l-top {
        font-size: 14px;
        line-height: 130%;

    }
    .welcome-heading-l {
        margin-bottom: 20px;
    }
    .welcome-heading-r-top {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 10px;
    }
    .welcome-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .welcome {
        padding: 30px 0;
    }
    .welcome-item-heading {
        flex-direction: column;
        align-items: flex-start;
    }
    .welcome-item-heading-icon {
        width: 24px;
        height: 24px;

    }
    .welcome-item-heading-text {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 6px;

    }
    .welcome-item-heading-icon-img {
        width: 14px;
        height: 14px;
    }
    .welcome-item-text {
        font-size: 14px;
        line-height: 130%;

    }
    .welcome-item {
        padding: 16px 12px;
    }
    .trending {
        padding-top: 30px;
    }
    .trending-arrows {
        display: none;
    }
    .tranding-info {
        padding: 16px 12px;
    }
    .tranding-info-heading {
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 12px;
    }
    .tranding-info-text {
        font-size: 12px;
        line-height: 130%;
    }
    .trending .container {
        padding-bottom: 30px;
    }
    .explore {
        padding: 22px 0;
    }
    .section-heading {
        font-size: 22px;
        line-height: 136%;
    }
    .exp-heaing {
        margin-bottom: 20px;
    }
    .trending-arrow {
        display: none;
    }
    .exp-items {
        grid-template-columns: 1fr;
    }
    .exp-category-item-img {
        width: 24px;
        height: 24px;
    }
    .exp-category-item-text {
        font-size: 12px;
    }
    .exp-item-info-heading {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 8px;
    }
    .exp-item-info-text {
        font-size: 14px;
        line-height: 130%;
    }
    .exp-wrapper-more {
        display: flex;
        justify-content: center;
    }
    .form .container {
        padding: 16px;
        flex-direction: column;
    }
    .form-l-heading {
        font-size: 22px;
        line-height: 136%;
        letter-spacing: -0.07em;
    }
    .form-l {
        gap: 20px;
        margin-bottom: 46px;
    }
    .form-r {
        gap: 8px;
    }
    .form-r-inp {
        max-width: 100%;
        padding: 11px 16px;
        height: fit-content;
    }
    .form-r-button {
        margin-top: 8px;
        gap: 8px;
    }
    .form-r-send {
        padding: 11px 45px;
        height: fit-content;
        width: fit-content;
        font-size: 14px;
        line-height: 130%;
    }
    .form-sety {
        width: 40px;
        height: 40px;
    }
    .form-sety-svg {
        width: 20px;
        height: 20px;
    }
    .special {
        padding: 40px 0 30px;   
    }
    .sper-r-heading {
        font-size: 60px;
        line-height: 100%;
        letter-spacing: -0.03em;
        margin-bottom: 32px;
    }
    .special .container {
        flex-direction: column;
    }
    .spec-r-slider-wrapper {
        .trending-arrows {
            display: block;
            position: absolute;
        }
        .trending-arrow {
            display: flex;
            padding: 6px;
            width: 24px;
            height: 24px;
        }
    }
    .spec-r-slider .swiper-slide {
        font-size: 32px;
        line-height: 137%;
        letter-spacing: -0.04em;
    }
    .trending-arrow-svg {
     width: 12px;
     height: 12px;   
    }
    .spec-r {
        margin-bottom: 20px;
    }
    .spec-l-heading {
        font-size: 22px;
        line-height: 136%;
        letter-spacing: -0.07em;
        &::after {
            margin: 12px 0;
            width: 100px;
            height: 2px;
        }
    }
    .spec-l-text {
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 16px;
    }
    .contacts-bg {
        display: none;
    }

    .contacts-bg-mob {

    }
    .contacts-container {
        width: calc(100vw - 32px);
        border: 1px solid #d1d5db;
        border-radius: 23px;
        padding: 16px;
        margin: auto;
    }
    .contacts-bg-mob {
        width: 100%;
        height: 181px;
        object-fit: cover;
        border-radius: 12px;
        margin-bottom: 16px;
    }
    .contacts-heading {
        display: none;
    }
    .contacts-text {
        display: none;
    }
    .contacts-inp-flex {
        flex-direction: column;
        gap: 0;
    }
    .form-r-button {
        &.contact-buttons {
            display: none;
            &.mob {
                display: flex;
            }
        }
    }
    .contacts {
        flex-direction: column;
    }
    .contact-buttons .form-r-send {
        width: 100%;
    }
    .form-sety {
        flex-shrink: 0;
    }
    .footer .container {
        flex-direction: column;
    }
    .footer-sety {
        &.desk {
            display: none;
        }
        &.mob {
            display: flex;
        }
    }
    .footer-logo {
        width: 100px;
        height: 24px;
        margin: 0;
    }
    .footer-logo-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .footer-item-heading {
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 12px;
    }
    .footer-item-nav-item {
        font-size: 14px;
        line-height: 130%;

    }
    .footer-item-list {
        gap: 4px;
        .arr-btn-svg {
            display: none;
        }
    }
    .footer-top-info {
        gap: 20px;
    }
    .footer-item {
        width: fit-content;
    }
    .footer-top-info {
        margin-bottom: 38px;
    }
    .footer .container.footer-btm {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    .footer-btm-info {
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }
    .footer-btm-text {
        font-size: 14px;
        line-height: 130%;
    }
    .footer-btm-arrow-top {
        width: 32px;
        padding: 0;
        height: 32px;
    }
    .footer-btm-arrow-top-svg {
        width: 22px;
        height: 22px;
    }
}