
$white: #FFF;
$mediaMiddle: 1200px;
$mediaMobile: 742px;
$mediaHd: 1920px;
$mediaHd: 1920px;

$white: #fff;
$text-primary: #2e2e2e;
$gray: #6b7280;
$gray-2: #dedede;
$gray-1: #d1d5db;
$gray-0: #fbf9f9;
$red-primary: #eb4c60;
$red-active: #ed394f;
$red-light: #ffebeb;
$gradient: #fbf9f9;

$font-family: "Inter", sans-serif;
$second-family: "Poppins", sans-serif;
$third-family: "Montserrat", sans-serif;
$font3: "Gilroy", sans-serif;
$font4: "SF Pro", sans-serif;